@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;600;700;800&display=swap");

/* Common Shared Styles */

* {
  font-family: "Work Sans", sans-serif;
}
body {
  margin: 0;
  padding: 0;
}
main {
  max-width: 1440px;
  margin: 0 auto;
}
.titles{
    color:  #131313;
font-size: 2.8rem;
font-weight: 700;
}
.description {
  color: #727272;
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}
.btn-primary {
    color: #fff;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    background: #ff900e;
    padding: 20px 24px;
    border: none;
  }
  h2,h3,h4{
    margin: 0;
  }

/* Header Section Styles */
header {
  padding: 10px 240px;
  background: rgba(255, 144, 14, 0.1);
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-title {
  color: #131313;
  font-size: 2.8rem;
  font-weight: 700;
  margin: 0;
}
.nav-list {
  display: flex;
  gap: 30px;
  list-style: none;
  font-size: 1.12rem;
}
/* Banner section  */
.banner-container {
  text-align: center;
  margin-bottom: 70px;
}
.banner-content{ 
    max-width: 800px;
    margin: 0 auto;
}
.banner-title {
  color: #131313;
  text-align: center;
  font-size: 4rem;
  font-weight: 700;
}
.banner-btn{
    margin-bottom: 40px;
}
.banner-img img{
    width: 100%;
}

/* Team Work Section Styles */

.team-work{
    display: flex;
    padding: 20px;
    align-items: center;
    margin-top: 70px;
    
}
.team-work-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}
.team-work-content{
    padding: 0 70px;
}
.team-work-title{
    margin: 0;
}
.ql{
    color:  #727272;
font-size: 2.8rem;
font-weight: 500;
}
.feat{
    color: #FF900E;
font-size: 2.8rem;
font-weight: 700;
}

/* Feature Section Styles */
.feature{
    margin-top: 70px;
    display: flex;
}
.feature-content{
    padding-right: 146px;
}
.feature-title{
    padding-left: 10px;
    border-left:5px solid #FF900E;
}
.ticket-title{
    color: #131313;
font-size: 1.5rem;
font-weight: 600;
}
.ticket{
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
background: #FFF;
box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}
.ft-btn{
    position: relative;
    bottom: 100px;
    right: 100px;
    padding: 43px;
}
.btn-title{
    color: #FFF;
text-align: center;
font-size: 4rem;
font-weight: 700;
}
.feature-img{
    padding: 0 auto;
    margin: 0 auto;
}
.feature-img img{
    width: 100%;
}
.feature-img p{
    color: #FFF;
font-size: 1.5rem;
font-weight: 500;
margin: 0;
}

/* Responsiveness for small devices */
@media screen and (max-width:576px) {
    header{
        padding: 10px;
    }
    nav{
    flex-direction: column;
    }  
    .team-work{
        flex-direction: column;
        gap: 20px;
    }
    .team-work-img-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .feature{
        flex-direction: column;
       padding: 0 10px;
    }
    .feature-content{
        padding: 20px;
    }
    .feature-img {
        margin: 0 auto;
        width: 85vw;
    }
    .ft-btn{
        position: static;
        width: 100%;

    }
}